.Head-all{
    width: 50%;
    height: 30%;
    margin-left: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.Head1{
    display: flex;
    flex-direction: row;
    height: 10%;
}
.Head2{
    display: flex;
    flex-direction: row;
    height: 20%;
}
.title{
    font-size:28px;
    font-weight: 700;
}
.Score{
    position: relative;
    width: 100px;
    margin-top: 20px;
    margin-left: 40%;
    background: rgba(145, 115, 16, 0.623);
    text-align: center;
}
.Best-Score{
    position: relative;
    width: 100px;
    margin-top: 20px;
    margin-left: 5%;
    background: rgba(145, 115, 16, 0.623);
    text-align: center;
}
.description{
    position: relative;
    margin-top: 20px;
    width: 50%;
}
.restart{
    margin-left: 35%;
    margin-top: 20px;
}
.game-all{
    width: 50%;
    margin-left: 100px;
    margin-top: 10px;
    height: 450px;
    background: rgba(145, 115, 16, 0.623);
    display: flex;
    flex-wrap: wrap;
}
.btn1-1{
    width: 20%;
    height: 20%;
    background: rgb(207, 207, 166);
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size:24px;
    font-weight: 600;
}

