.ios-button{
    width: 99%;
    height: 40px;
    margin-top: 150px;
    margin-left: 6px;
}
.Android-button{
    width: 99%;
    height: 40px;
    margin-top: 15px;
    margin-left: 6px;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    transition: opacity .3s ease-in;
  }
  .showMask {
    opacity: 1;
    transform: translateY(0);
  }
  .Body{
    position: fixed;
    width: 350px;
    height: 200px;
    left: 500px;
    top:260px;
    background:white;
    z-index: 100;
  }
  .title{
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
  }
  .fuzhubutton{
    float: left;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 20px;
  }
  .zhubutton{
    float: right;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-right: 20px;
    color: rgb(41, 214, 41);
  }
  .ios2-btn{
    font-size: 20px;
    color: rgb(41, 214, 41);
    margin-left: 45%;
    margin-top: 30%;
  }
  .Afuzhubutton{
    float: right;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
  }
  .Azhubutton{
    float: right;
    font-size: 20px;
    color: rgb(41, 214, 41);
    margin-top: 50px;
    margin-left: 20px;
  }
  .divider {
    position: relative;
  }
  .divider:after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2c2a2a;
    transform: scaleY(0.5)
  }