.rongqi{
    width: 80%;
    height: 10px;
    background: #EBEBEB;
    margin-left: 10%;
    margin-top: 20%;
}
.progress1{
    background-color: rgb(56, 187, 74);
    position: relative;
    height: 10px;
    /* width: 80%; */
    transform: translateZ(100%);
    transition: opacity 3.5s linear;
    /* transition:width 3s ease; */
}
.showprogress1 {
    background-color: rgb(56, 187, 74);
    position: relative;
    height: 10px;
    /* width: 80%; */
    opacity: 1;
    transform: translateX(0%);
    
  }
  
  .hideprogress1 {
    background-color: rgb(56, 187, 74);
    position: relative;
    height: 10px;
    /* width: 80%; */
    opacity: 0.5;
    transform: translateX(100%);
  }

.up{
    margin-left: 45%;
    margin-top: 5%;
}
.icon{
    position: relative;
    left: 92%;
    top: -18px;
    height: 20px;
}

  