.head{
    height: 200px;
    display: flex;
    justify-content:space-around;
}
.touxiang{
    position: relative;
    margin-top:60px;
}
.message1{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.message2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.message3{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.message3-0{
    display: flex;

}
.message3-0-1{
    margin-left: 85px;
}
.message3-1{
    display: flex;

}
.message3-2{
    display: flex;
}
.message3-2-1{
    margin-right: 28px;
}
.Red{
    color:red;
    font-weight:bold;
}
.Orange{
    color:Orange;
    font-weight:bold;
}