.PowerComment-1{
    height: 30px;
    border: 1px solid  rgb(116, 114, 114);
    background-color: white;
}
.PowerComment-2{
    height: 30px;
    margin-top: 10px;
    border: 1px solid  rgb(116, 114, 114);
    background-color: white;
}
.PowerComment-btn1{
float: right;
}
.PowerComment-btn2{
    float: right;
}