.PowerItem-all{
    height: 400px;
    background-color: white;
    margin-left: 100px;
    margin-top: 100px;
}
.PowerItem-1{
    height: 30px;
    border: 1px solid  rgb(116, 114, 114);
}
.PowerItem-2{
    height: 300px;
    width: 50%;
    float: left;
    border: 1px solid  rgb(116, 114, 114);
}
.PowerItem-3{
    height: 300px;
    width: 50%;
    float: right;
    border: 1px solid  rgb(116, 114, 114);
}
.itemclose{
    float: right;
}
.PowerItemLeft-title{
    display: flex;
}
.example-input .ant-input {
    width: 200px;
    margin: 0 8px 8px 0;
    margin-left: 30px;
  }
.PowerItemRight-all{
    height: 300px;
}
.PowerItemRight-1{
    width: 40%;
    float: left;
}
.PowerItemRight-2{
    width: 60%;
    height: 300px;
    float: right;
    border: 1px solid  rgb(116, 114, 114);
}
.PowerItemRight-btn{
    float: right;
}
